.address {
  width: 460px;
  font-style: normal;
  color: $color-background-middle-blue;

  @include vp-1199 {
    width: 100%;
  }
}

.address__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 113px;
  position: relative;

  &::before {
    content: "";
    border-right: 1px solid $color-border-grey;
    position: absolute;
    top: 5px;
    bottom: 25px;
    left: 232px;
  }

  @include vp-1199 {
    grid-template-columns: 218px 218px;
    column-gap: 96px;

    &::before {
      top: 10px;
      left: 266px;
    }
  }

  @include vp-767 {
    grid-template-columns: 1fr;

    &::before {
      display: none;
    }
  }
}

.address__elem-wrap {
  padding-bottom: 20px;
  padding-left: 4px;

  @include vp-1199 {
    padding-left: 0;
  }

  @include vp-767 {
    &--link {
      order: 2;
    }
  }
}

.address__label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px;
  }
}

.address__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}

.address__phone,
.address__mail {
  font-size: 14px;
  line-height: 21px;
  color: $color-background-middle-blue;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}
