.contacts {
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  background: linear-gradient(to right, $color-background-middle-blue 50%, $color-default-white 50%);
  padding: 72px 102px 46px;

  @include vp-1199 {
    flex-direction: column;
    background: linear-gradient(to bottom, $color-background-middle-blue 48%, $color-default-white 48%);
    padding: 70px  160px 42px 132px;
  }

  @include vp-767 {
    background: linear-gradient(to bottom, $color-background-middle-blue 43.5%, $color-default-white 43.5%);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contacts__address {
  @include vp-1199 {
    margin-top: 140px;
  }
}

.contacts__title {
  font-family: $ff-bebasneue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 39px;

  &_form {
    color: $color-default-white;
    margin-bottom: 42px;
  }

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 32px;

    &_form {
      margin-bottom: 37px;
    }
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 32px;

    &_form {
      margin-bottom: 36px;
    }
  }
}
