.contacts {
  background: linear-gradient(to right, $color-background-middle-blue 50%, $color-default-white 50%);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid $color-border-grey;
    width: 50%;
    top: 0;
    right: 0;
  }

  @include vp-1199 {
    background: linear-gradient(to bottom, $color-background-middle-blue 48%, $color-default-white 48%);

    &::before {
      border: none;
    }
  }

  @include vp-767 {
    background: linear-gradient(to bottom, $color-background-middle-blue 43.3%, $color-default-white 43.3%);
  }
}

.contacts__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  position: relative;
  padding: 72px 102px 45px;

  @include vp-1199 {
    flex-direction: column;
    padding: 70px 118px 42px 88px;
  }

  @include vp-767 {
    padding-bottom: 44px;
    padding-top: 70px;
  }
}

.contacts__address {
  @include vp-1199 {
    margin-top: 140px;
  }
}

.contacts__title {
  font-family: $ff-bebasneue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 39px;

  &--form {
    color: $color-default-white;
    margin-bottom: 42px;
  }

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 32px;

    &--form {
      margin-bottom: 37px;
    }
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 32px;

    &--form {
      margin-bottom: 37px;
    }
  }
}
