.gym {
  position: relative;
  padding-top: 120px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 60px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    padding-top: 100px;
    padding-bottom: 8px;
  }

  @include vp-767 {
    padding: 70px 0 66px;
  }
}

.gym__text-wrap {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 25px;
  padding-bottom: 25px;
  align-self: start;

  @include vp-1199 {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 44px;
  }

  @include vp-767 {
    align-items: flex-start;
    margin-bottom: 32px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.gym__title {
  margin-bottom: 3px;
  margin-top: 25px;

  @include vp-1199 {
    margin-bottom: 6px;
    margin-top: 0;
  }

  @include vp-767 {
    margin-bottom: 5px;
  }
}

.gym__subtitle {
  font-size: 18px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 38px;

  @include vp-1199 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.gym__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 8px;


  @include vp-1199 {
    width: 76%;
    margin: auto;

    &--second {
      display: none;
    }
  }

  @include vp-767 {
    width: 90%;
    text-align: start;
    margin: 0;
  }
}

.gym__visual-wrap {
  position: relative;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.gym__image-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 61%;

  img {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }

  @include vp-1199 {
    padding-bottom: 51%;
  }

  @include vp-767 {
    padding-bottom: 98%;
  }
}

.gym__video {
  width: 364px;
  height: 0;
  padding-bottom: 34.5%;
  transform: translate(-63px, -115px);
  position: relative;

  a {
    &::before {
      content: " ";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background-color: rgba(20, 54, 122, 0.5);
      z-index: 1;
    }
  }

  img,
  iframe {
    border: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }

  &:hover {
    opacity: 0.9;

    a {
      &::before {
        display: none;
      }
    }
  }

  @include vp-1199 {
    transform: translate(0, -50%);
    width: 39%;
    padding-bottom: 25%;
  }

  @include vp-767 {
    transform: none;
    margin-top: 40px;
    position: relative;
    padding-bottom: 52%;
    width: 100%;
  }
}

.gym__button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: transparent;
  border: none;
  display: flex;
  width: 100px;
  height: 100px;
  cursor: pointer;

  &:focus {
    outline: 2px solid $color-background-blue;
  }

  @include vp-1199 {
    width: 73px;
    height: 73px;
  }
}
