.membership {
  background-color: $color-background-grey;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 6px;
  margin-bottom: 120px;

  img {
    position: absolute;
    right: -9%;
    bottom: -270px;
    width: 287px;
    height: 492px;
    object-fit: contain;
  }

  @include vp-1199 {
    padding-top: 102px;
    padding-bottom: 100px;
    margin-bottom: 100px;

    img {
      width: 345px;
      height: 455px;
      right: -46px;
      bottom: -232px;
    }
  }

  @include vp-767 {
    padding-top: 68px;
    padding-bottom: 70px;
    margin-bottom: 70px;

    img {
      display: none;
    }
  }
}

.membership__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.membership__title {
  margin-bottom: 32px;
  margin-top: 0;

  @include vp-1199 {
    margin-bottom: 26px;
  }

  @include vp-767 {
    margin-bottom: 19px;
  }
}

.membership__tabs-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  box-shadow: inset 0 -2px 0 0 rgba(120, 120, 120, 0.2);


  @include vp-1199 {
    margin-bottom: 44px;
  }

  @include vp-767 {
    margin-bottom: 36px;
  }
}

.membership__tab {
  &:not(:last-child) {
    margin-right: 48px;
  }

  @include vp-1199 {
    &:not(:last-child) {
      margin-right: 54px;
    }
  }

  @include vp-767 {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }
}

.membership__button {
  border: none;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 400;
  text-transform: lowercase;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  opacity: 0.5;

  &--active {
    border-bottom: 2px solid $border-red;
    opacity: 1;
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 12px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 12px;
  }
}

.membership__options-list {
  width: 100%;
  max-width: 100%;
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
  z-index: 2;

  &--show {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
  }

  @include vp-1199 {
    width: 65%;
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  @include vp-767 {
    width: 100%;
    row-gap: 34px;
  }
}
