.pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 7px solid transparent;
  padding: 48px 25px 62px;
  background-color: $color-default-white;

  h3 {
    color: $color-default-black;
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 4px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 14px;
  }

  div {
    font-size: 100px;
    line-height: 150px;
    font-weight: 700;
    color: $color-price-grey;
  }

  span {
    color: $color-price;
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    margin-bottom: 29px;
    padding-left: 10px;
    margin-top: -98px;
  }

  u {
    font-family: $ff-rouble;
    color: $color-default-black;
    text-decoration: none;
    font-weight: 400;
    font-size: 60px;
  }

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 207px;

    color: $color-default-black;
    background: transparent;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: 2px solid $color-default-black;
    padding-top: 23px;
    padding-bottom: 23px;

    cursor: pointer;
  }

  &:hover {
    border-image: $border-gradient;
    border-image-slice: 1;

    a {
      color: $color-default-white;
      background: $button-gradient;
      border: none;
    }
  }

  @include vp-1199 {
    padding: 50px 110px 60px;

    span {
      margin-bottom: 29px;
    }

    a {
      padding-bottom: 25px;
    }
  }

  @include vp-767 {
    width: 100%;
    padding: 43px 20px 48px;

    h3 {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }

    div {
      font-size: 80px;
      line-height: 120px;
    }

    span {
      font-size: 48px;
      line-height: 72px;
      margin-top: -77px;
      padding-left: 12px;
      margin-bottom: 26px;
    }

    u {
      font-size: 48px;
    }

    &_active {
      padding: 44px 34px 48px;

      a {
        padding-bottom: 24px;
      }
    }
  }
}

