.promo {
  padding-top: 120px;
  padding-bottom: 0;

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
  }

  img {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    object-fit: cover;
    object-position: top;
  }
}

.promo__title {
  margin-bottom: 50px;
  text-align: center;
  margin-top: 0;

  @include vp-1199 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    margin-bottom: 42px;
  }
}

.promo__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 211px 211px;
  column-gap: 40px;
  row-gap: 40px;

  @include vp-1199 {
    grid-template-rows: 1fr 211px;
    column-gap: 32px;
    row-gap: 31px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 211px 211px;
    row-gap: 30px;
  }
}

.promo__item {
  &--img {
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr minmax(280px, 1fr);
  }

  @include vp-1199 {
    &--img {
      grid-row: 1/2;
      grid-column: 1/3;
      grid-template-columns: 1fr 399px;
    }
  }

  @include vp-767 {
    grid-column: 1/2;
    grid-template-columns: 1fr;
  }
}

.promo__img-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 165%;

  @include vp-1199 {
    padding-bottom: 116%;
  }

  @include vp-767 {
    padding-bottom: calc(100% + 8px);
  }
}
