.swiper-review {
  width: 85%;
  max-width: 1160px;
  margin: 0 auto;

  @include vp-1199 {
    width: 100%;
  }
}

.swiper-review-container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1366px;
  overflow: hidden;

  @include vp-1199 {
    max-width: 680px;
  }
}

.swiper-review-button-prev {
  width: 16px;
  height: 32px;
  background-image: url("../img/svg/button-prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: calc(40% - 200px);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;

  &:hover {
    outline: 1px solid $color-focus-outline;
  }

  @include vp-1199 {
    left: 0;
  }

  @include vp-767 {
    left: 3.5%;
    background-size: 10px 19px;
  }
}

.swiper-review-button-next {
  width: 16px;
  height: 32px;
  background-image: url("../img/svg/button-next.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: calc(40% - 200px);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;

  &:hover {
    outline: 1px solid $color-focus-outline;
  }

  @include vp-1199 {
    right: 0;
  }

  @include vp-767 {
    background-size: 10px 19px;
    right: 3.5%;
  }
}
