.swiper {
  width: 85%;
  max-width: 1160px;

  @include vp-1199 {
    width: 74%;
  }

  @include vp-767 {
    width: 71%;
  }
}

.swiper-container {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
}

.swiper-button-prev {
  height: 32px;
  width: 16px;
  position: absolute;
  top: 50%;
  left: 3.5%;
  background-image: url("../../img/svg/button-prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    outline: 1px solid $color-focus-outline;
  }

  @include vp-1199 {
    left: 6%;
  }

  @include vp-767 {
    background-size: 10px 19px;
    left: 4%;
  }
}

.swiper-button-next {
  height: 32px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 3.5%;
  background-image: url("../../img/svg/button-next.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    outline: 1px solid $color-focus-outline;
  }

  @include vp-1199 {
    right: 6%;
  }

  @include vp-767 {
    background-size: 10px 19px;
    right: 4%;
  }
}
