.trainers {
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.trainers__title {
  margin-bottom: 50px;

  @include vp-1199 {
    text-align: center;
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 42px;
  }
}

.trainers__card {
  position: relative;

  @include vp-1199 {
    height: auto;
  }
}

.trainers__card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;

  &--is-visible {
    z-index: 2;
  }

  @include vp-1199 {
    height: 100%;
  }
}

.trainers__card:hover .trainers__card-info {
  z-index: 2;

  @include vp-1199 {
    z-index: -1;
  }
}

.trainers__card:focus-within .trainers__card-info {
  z-index: 2;
}
